footer
  .row
    .col-lg-12
      ul.list-unstyled
        li.pull-right
          a(href='#top') Back to top
        li
          a(href='http://news.bootswatch.com', onclick='pageTracker._link(this.href); return false;') Blog
        li
          a(href='http://feeds.feedburner.com/bootswatch') RSS
        li
          a(href='https://twitter.com/bootswatch') Twitter
        li
          a(href='https://github.com/thomaspark/bootswatch/') GitHub
        li
          a(href='../help/#api') API
        li
          a(href='../help/#support') Support
      p
        | Made by 
        a(href='http://thomaspark.co', rel='nofollow') Thomas Park
        | . Contact him at 
        a(href='/cdn-cgi/l/email-protection#90e4f8fffdf1e3d0f2ffffe4e3e7f1e4f3f8bef3fffd')
          span.__cf_email__(data-cfemail='0c786463616d7f4c6e6363787f7b6d786f64226f6361') [email protected]
          script(data-cfhash='f9e31', type='text/javascript').
            /* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */
        | .
      p
        | Code released under the 
        a(href='https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE') MIT License
        | .
      p
        | Based on 
        a(href='http://getbootstrap.com', rel='nofollow') Bootstrap
        | . Icons from 
        a(href='http://fortawesome.github.io/Font-Awesome/', rel='nofollow') Font Awesome
        | . Web fonts from 
        a(href='http://www.google.com/webfonts', rel='nofollow') Google
        | .
