doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='../') Insan Medika
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            //-   a(href='../help/') Help
            //- li
            //-   a(href='http://news.bootswatch.com') Blog
            //- li.dropdown
            //-   a#download.dropdown-toggle(data-toggle='dropdown', href='#')
            //-     | Cerulean 
            //-     span.caret
            //-   ul.dropdown-menu(aria-labelledby='download')
            //-     li
            //-       a(href='http://jsfiddle.net/bootswatch/9y480qo5/') Open Sandbox
            //-     li.divider
            //-     li
            //-       a(href='./bootstrap.min.css') bootstrap.min.css
            //-     li
            //-       a(href='./bootstrap.css') bootstrap.css
            //-     li.divider
            //-     li
            //-       a(href='./variables.less') variables.less
            //-     li
            //-       a(href='./bootswatch.less') bootswatch.less
            //-     li.divider
            //-     li
            //-       a(href='./_variables.scss') _variables.scss
            //-     li
            //-       a(href='./_bootswatch.scss') _bootswatch.scss
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#', target='_blank') Login
            li
              a(href='#', target='_blank') Sign Up
      block content
